<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
  </head>
  <style>
    body {
      background: #f1f7fc;
      font-family: "Open Sans", sans-serif;
    }
   
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style="color: rgb(244, 71, 107);">Boutique</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %} {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_dashboard' %}" style="color: rgb(244, 71, 107);"
              >Admin Dashboard</a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sales' %}" style="color: rgb(244, 71, 107);">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'stock_count' %}" style="color: rgb(244, 71, 107);">Stock Count</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link" style="color: rgb(244, 71, 107);">
                Logout
              </button>
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" style="color: rgb(244, 71, 107);">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
</html>
