<!-- <h1>THIS IS SHOP MANAGERS PAGE</h1> -->
{% extends 'index.html' %}

{% block content %}
  <h2>Sales</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="item">Item:</label>
      <select name="item" id="item">
        {% for item in items %}
          <option value="{{ item.item_id }}">{{ item.item_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" min="1" required>
    </div>
    <div>
      <button type="submit">Sell</button>
    </div>
  </form>
  
{% endblock %}
